body {
    background: #0f0f0f;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

#navbar {
    width: 100%;
    background: #222;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

#app {
    padding: 20px;
}

input, button {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 12px;
    font-size: 17px;
}

button {
    background: #0077ff;
    color: white;
    border: none;
    border-radius: 7px;
}

.task {
    padding: 15px;
    background: #1b1b1b;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #444;
}

.admin-box {
    background: #222;
    padding: 10px;
    border: solid 1px #555;
    margin: 10px 0;
}
